<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="ati_axia80_ft_sensor" params="
    prefix 
    parent 
    *origin 
    ip_address 
    rdt_sampling_rate">

    <joint name="${prefix}fts_joint" type="fixed">
      <!-- The parent link must be read from the robot model it is attached to. -->
      <parent link="${parent}"/>
      <child link="${prefix}fts_link"/>
      <xacro:insert_block name="origin" />
    </joint>

    <link name="${prefix}fts_link">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://net_ft_description/meshes/visual/ati_axia80_ft_sensor.dae"/>
          </geometry>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="package://net_ft_description/meshes/collision/ati_axia80_ft_sensor.stl"/>
          </geometry>
        </collision>
        <inertial>
          <mass value="0.28" />
          <origin xyz="0 0 0" />
          <inertia ixx="0.000132" ixy="0.0" ixz="0.0" iyy="0.000132" iyz="0.0" izz="0.000235" />
        </inertial>
    </link>

    <joint name="${prefix}tool_side_joint" type="fixed">
      <parent link="${prefix}fts_link"/>
      <child link="${prefix}tool_mount_link"/>
      <origin xyz="0 0 0.0254" rpy="0 0 0"/>
    </joint>
    <link name="${prefix}tool_mount_link"/>

    <xacro:include filename="$(find net_ft_description)/urdf/net_ft_sensor.ros2_control.xacro" />
    <xacro:net_ft_sensor_ros2_control 
      name="NetFTHardwareInterface" 
      sensor_type="ati_axia" 
      ip_address="${ip_address}" 
      rdt_sampling_rate="${rdt_sampling_rate}"/>
  </xacro:macro>
</robot>
