<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="net_ft_sensor_ros2_control" params="name ip_address sensor_type rdt_sampling_rate:=500 adc_sampling_rate:=976">
        <ros2_control name="${name}" type="sensor">
            <hardware>
                <plugin>net_ft_driver/NetFTHardwareInterface</plugin>
                <param name="sensor_type">${sensor_type}</param>
                <param name="ip_address">${ip_address}</param>
                <param name="rdt_sampling_rate">${rdt_sampling_rate}</param>
                <param name="adc_sampling_rate">${adc_sampling_rate}</param>
            </hardware>

            <sensor name="${prefix}net_ft_sensor">
              <state_interface name="force.x"/>
              <state_interface name="force.y"/>
              <state_interface name="force.z"/>
              <state_interface name="torque.x"/>
              <state_interface name="torque.y"/>
              <state_interface name="torque.z"/>
              <param name="frame_id">tool_link</param>
              <param name="fx_range">100</param>
              <param name="fy_range">100</param>
              <param name="fz_range">100</param>
              <param name="tx_range">15</param>
              <param name="ty_range">15</param>
              <param name="tz_range">15</param>
          </sensor>
        </ros2_control>
    </xacro:macro>

</robot>
